/* 헤더 */
body {

  width: 100%;
  padding: 0;
  margin: 0 auto;
  /* width: 1920px;
   */
}

.container {
  outline: 1px solid black;
  width: 1020px;
  height: 150px;
  flex-shrink: 0;
  position: relative;

}

.login-bar ul {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-100);

  outline: 1px solid rgb(0, 98, 255);
}

.login-bar li {
  flex-shrink: 0;
  width: 82px;
  color: var(--color-black);

  font-family: "Noto Sans";
  font-size: 12px;
}

.login-bar li a {
}

.login-bar li:nth-child(1) {
  order: 3;
  margin-right: -390px;
}

.login-bar li:nth-child(2) {
  order: 4;
  margin-right: -390px;
}

.login-bar li:nth-child(3) {
  order: 5;
}

.login-bar li:nth-child(4) {
  order: 1;
  margin-right: -390px;
}

.login-bar li:nth-child(5) {
  order: 2;
  margin-right: 226px;
}

header {
  /* z-index: 10; */
}

/* 검색바 */
.search-wrap {
  /* width: 100%; */
  /* height: 0px; */
  /* margin: 0; */

  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  /* grid-template-rows: 34px 1fr 32px; */
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "category logo  search   cart"
    "category link-bar link-bar cart";

}

.logo {
  outline: 1px solid rgb(204, 8, 116);

  margin-top: 34px;
  grid-area: logo;

  width: 176px;
  height: 40px;
  background-image: url(../../assets/logo/logo.svg);

  grid-column: 2/3;
  grid-row: 2/2;


}

.logo span {
  /* position: absolute; */
  /* clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; */
}

.category {
  outline: 1px solid rgb(205, 93, 52);

  grid-area: category;


  margin-top: 34px;
  width: 110px;
  background: var(--color-blue-600);
  padding: 30px 32.5px;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* position: absolute;
  top: 0;
  left: 0; */

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

}

.category .button-category {
  /* position: absolute;
  top: 0;
  left: 0; */
  background: url(../../assets/icon/hamburger.svg);
  width: 30px;
  height: 30px;
  margin-bottom: 30px;



}


.search {
  outline: 1px solid rgb(205, 93, 52);

  grid-area: search;

}

.myCoupang {
  outline: 1px solid rgb(205, 93, 52);

  grid-area: cart;

}

.link-bar {
  grid-area: link-bar;


}





.search-category {
  /* outline: 1px solid rgb(11, 139, 21);
  width: 110px;
  height: 116px;
  position: absolute;
  top: 35px;
  left: 0; */

  background-image: url(../../assets/icon/hamburger.svg);








}