/* 헤더 */
.container {
  margin: 0 auto;
  width: 1020px;
  height: 150px;
  position: relative;
}

/* 로그인바 */
.login-bar ul {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  padding-left: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-100);
}

.login-bar li {
  flex-shrink: 0;
  margin: 5px 0;
  width: 82px;
  color: var(--color-black);

  font-family: "Noto Sans";
  font-size: 12px;
}

.login-bar li:nth-child(1) {
  order: 3;
  margin-right: -390px;
}

.login-bar li:nth-child(2) {
  order: 4;
  margin-right: -390px;
}

.login-bar li:nth-child(3) {
  order: 5;
}

.login-bar li:nth-child(4) {
  order: 1;
  margin-right: -390px;
}

.login-bar li:nth-child(5) {
  order: 2;
  margin-right: 226px;
}


/* 검색바 */
header {
  position: relative;
}

.header-wrap {
  height: 115px;
  padding-top: 34px;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "category logo  search myCoupang  cart"
    "category link-bar link-bar link-bar link-bar";
}

/* 카테고리 */
.category {
  grid-area: category;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 115px;
  background: var(--color-blue-600);
  padding: 30px 32.5px;
}

.category .button-category {
  background: url(/assets/icon/hamburger.svg);
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.category span {
  color: var(--Grayscale-white-white, #FFF);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  width: 45px;
  height: 14px;
  letter-spacing: -1.3px;
  display: inline-block;
  text-align: center;
}


/* 로고 */
.header-title {
  margin: 22px 30px 10px 37px;
  grid-area: logo;
  width: 176px;
  height: 40px;
  background-image: url(/assets/logo/logo.svg);
  z-index: 100;
}

.header-title a {
  padding: 20px 93px;
  position: relative;
}

/* 서치 */
.search-box {
  color: white;
  grid-area: search;
  width: 516px;
  height: 40px;
  position: relative;
}

.all-box {
  display: inline;
}

.all-box select {
  width: 135px;
  height: 40px;
  background: url(/assets/icon/IconMoreDown.svg) no-repeat right;
  border-right: 1px solid var(--color-gray-100);
  color: var(--color-gray-700);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  padding: 13px 12px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.search-box {
  margin-top: 22px;
  border: 1px solid var(--blue-600, #0074E9);
  background: var(--white, #FFF);

}

.search-box input {
  width: 301px;
  height: 38px;
  color: var(--color-gray-600);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 13px 12px;
  position: absolute;
  top: 0px;
  left: 135px;
}


input:focus,
select:focus {
  outline: none;
}

.search-mic-img {
  width: 40px;
  height: 40px;
  background: url(/assets/icon/mic.svg) no-repeat center;
  position: absolute;
  right: 41px;
}

.search-keyword-img {
  width: 40px;
  height: 40px;
  background: url(/assets/icon/search.svg) no-repeat center;
  position: absolute;
  right: 0px;
}

/* 마이쿠팡 */
.myCoupang {
  grid-area: myCoupang;
  height: 115px;
  padding-left: 15px;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.myCoupang button {
  background: url(/assets/icon/my-coupang.svg) no-repeat center;
  width: 81px;
  height: 73px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.myCoupang ul {
  width: 90px;
  height: 137px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url(/assets/icon/Union.svg) no-repeat center;
  filter: invert(0%) sepia(600%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  border: 1px solid var(--color-gray-500);

  /* !!!
  is--active 클래스 추가후 어떻게 하는지
  요 잘 모르겠어서 투명도와 호버로 조정했습니다.*/
  opacity: 0;
}

.myCoupang button:hover ul {
  /* !!!
    is--active 클래스 추가후 어떻게 하는지
    요 잘 모르겠어서 투명도와 호버로 조정했습니다.*/
  opacity: 1;
}

.myCoupang ul li {
  text-align: center;
  /* display: block; */
}

.myCoupang ul li a {
  padding: 11px 17px;
}

.cart {
  grid-area: cart;
  width: 45px;
  height: 58px;
  margin-left: -14px;
  cursor: pointer;
}

.cart button {
  background: url(/assets/icon/cart.svg) no-repeat center;
  margin-top: 10px;
  width: 57px;
  height: 64px;
  color: var(--black, #181818);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.3px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 4px;

}

.cart .cart-num {
  position: absolute;
  bottom: 41px;
  right: 15px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.cart .cart-txt {
  width: 288px;
  height: 99px;
  padding: 44px 46px 36px 47px;
  margin-top: 40px;
  color: var(--color-black);
  background: url(/assets/icon/txt-box.svg) no-repeat;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: absolute;
  top: 79px;
  right: 14px;
  letter-spacing: -1.2px;

  /* !!!
  cart--empty 클래스 추가후 어떻게 하는지
  요 잘 모르겠어서 투명도와 호버로 조정했습니다.*/
  opacity: 0;
}

.cart:hover .cart-txt {

  /* !!!
    cart--empty 클래스 추가후 어떻게 하는지
    요 잘 모르겠어서 투명도와 호버로 조정했습니다.*/
  opacity: 1;
}


/* 링크바 */
.link-bar {
  grid-area: link-bar;
  height: 34px;
  margin: -33px 0px 0px 36px;
  width: 812px;
}

.link-bar ul {
  align-items: center;
  display: inline-block;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.link-bar li {
  display: inline;
}

.link-bar a {
  padding: 8px 13px;
  margin-right: -3px;
}

.link-bar img {
  margin: 6px 0;
}