/* 헤더 */


.container {
  outline: 1px solid black;
  margin: 0 auto;
  width: 1020px;
  height: 150px;
  position: relative;
  z-index: 1;
}

.login-bar ul {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-100);

  outline: 1px solid rgb(0, 98, 255);
}

.login-bar li {
  flex-shrink: 0;
  margin: 5px 0;
  width: 82px;
  color: var(--color-black);

  font-family: "Noto Sans";
  font-size: 12px;
}

.login-bar li:nth-child(1) {
  order: 3;
  margin-right: -390px;
}

.login-bar li:nth-child(2) {
  order: 4;
  margin-right: -390px;
}

.login-bar li:nth-child(3) {
  order: 5;
}

.login-bar li:nth-child(4) {
  order: 1;
  margin-right: -390px;
}

.login-bar li:nth-child(5) {
  order: 2;
  margin-right: 226px;
}

/* 검색바 */
header {
  /* position: absolute;
  top: 35px;
  left: 0;
   */
  outline: 1px solid rgb(0, 98, 255);

  /* width: 100%; */
  /* height: 115px; */


  padding-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  /* grid-template-rows: 34px 1fr 32px; */
  grid-template-areas:
    "category logo  search   cart"
    "category link-bar link-bar cart";
}

.header-wrap {
  outline: 1px solid rgb(222, 63, 14);
  /* width: 100%; */
  height: 115px;

}

.category {
  outline: 1px solid rgb(103, 0, 0);

  grid-area: category;
  display: flex;

  width: 110px;
  background: var(--color-blue-600);
  padding: 30px 32.5px;
  /* position: absolute;
  top: 0;
  left: 0; */

  grid-row: 1/3;
  /* order: 1; */
  /* z-index: 1; */

}

.category .button-category {
  /* position: absolute;
  top: 0;
  left: 0; */
  background: url(/assets/icon/hamburger.svg);
  width: 30px;
  height: 30px;
  margin-bottom: 30px;

}

.button-category span {
  color: var(--Grayscale-white-white, #FFF);

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 45px;
  height: 14px;
}

/*
 ?grid-area 로 지정된 자식들의 부모가 grid로 
 되야 grid가 먹히는 이유는??
*/
h1,
.search-bar,
.header-title,
.search-wrap,
.header-wrap {
  display: grid;
}

.logo {
  outline: 1px solid rgb(204, 8, 116);

  margin-top: 62px;
  grid-area: logo;
  /* order: 2; */
  /* display: flex;
  align-items: center; */

  width: 176px;
  height: 40px;
  background-image: url(/assets/logo/logo.svg);

  grid-column: 2/3;



}

.logo span {
  /* position: absolute; */
  /* clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; */
}

.search {
  outline: 1px solid rgb(205, 93, 52);

  grid-area: search;
  grid-column: 3/4;
  /* order: 3; */
  /* display: flex;
  align-items: center; */
}

.myCoupang {
  outline: 1px solid rgb(13, 5, 2);

  grid-area: cart;
  /* grid-row: 4; */

  /* order: 4; */
  /* display: flex;
  align-items: center; */
  grid-column: 4/5;
  grid-row: 1/3
}

.link-bar {
  grid-area: link-bar;
  grid-column: 2/4;
  /* display: flex;
  align-items: center; */

}





.search-category {
  /* outline: 1px solid rgb(11, 139, 21);
  width: 110px;
  height: 116px;
  position: absolute;
  top: 35px;
  left: 0; */

  background-image: url(/assets/icon/hamburger.svg);








}